{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='add_course.css') }}">
<title>ADD COURSE</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}

{% block content %}

    <div class="container">
        <h1>ADD COURSE</h1>

        <form action="{{ url_for('courses.courses') }}">
            <button type="submit" class="back-button">
                <i class="fa-solid fa-arrow-left" style="color: #8c0000;"></i>
            </button>
        </form>

        <form action="{{ url_for('courses.add_course') }}" method="POST" id="addCourseForm">
            <label for="college_code">COLLEGE NAME</label>
            <select class="dropdown" id="college_code" name="college_code" required>
                {% for college in colleges %}
                <option class="dropdown-option" value="{{ college.college_code }}">{{ college.college_name }}</option>
                {% endfor %}
            </select>

            <label for="course_code">COURSE CODE</label>
            <input type="text" id="course_code" name="course_code" required>

            <label for="course_name">COURSE NAME</label>
            <input type="text" id="course_name" name="course_name" required>

            <button type="submit" class="add-button">ADD COURSE</button>
        </form>
    </div>

    <!--------------------------------JAVASCRIPT THINGZ--------------------------------------->
    <script>
        $(document).ready(function () {
            $('#addCourseForm').on('submit', function (event) {
                event.preventDefault();
    
                var courseCode = $('#course_code').val().toUpperCase();
                var courseName = $('#course_name').val().toUpperCase();
                var collegeCode = $('#college_code').val().toUpperCase();
                
                $.ajax({
                    url: "{{ url_for('courses.check_course_existence') }}",  
                    type: 'POST',
                    dataType: 'json',  
                    data: {
                        course_code: courseCode,
                        course_name: courseName,
                        college_code: collegeCode
                    },
                    success: function (response) {
                        if (response.exists) {
                            var message = '';
                            if (response.name_exists && response.code_exists) {
                                message = 'Both the course name and code already exist. Please choose different values.';
                            } else if (response.name_exists) {
                                message = 'The course name already exists for this college. Please choose a different name.';
                            } else if (response.code_exists) {
                                message = 'The course code already exists, please try again.'; 
                            }
                            alert(message);
                        } else {
                            if (confirm('Do you want to add this course?')) {
                    

                                $.ajax({
                                    url: "{{ url_for('courses.add_course') }}",  
                                    type: 'POST',
                                    dataType: 'json',
                                    data: {
                                        course_code: courseCode,
                                        course_name: courseName,
                                        college_code: collegeCode
                                    },
                                    success: function (addResponse) {
                                        alert(addResponse.message); 
                                        if (addResponse.success) {
                                            window.location.href = "{{ url_for('courses.courses') }}";  
                                        }
                                    },
                                    error: function () {
                                        alert('Course added successfully');
                                    }
                                });
                            }
                        }
                    },
                    error: function () {
                        alert('Error occurred during course existence check.');
                    }
                });
            });
        });
    </script>
{% endblock %}
