{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='add_college.css') }}">
<title>ADD COLLEGE</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>ADD COLLEGE</h1>

        <form action="{{ url_for('colleges.colleges') }}">
            <button type="submit" class="back-button">
                <i class="fa-solid fa-arrow-left" style="color: #8c0000;"></i>
            </button>
        </form>
      
        <div id="notification" class="notification" style="display: none;"></div>

        <form action="{{ url_for('colleges.add_college') }}" method="POST" id="addCollegeForm">

            <label for="college_code">COLLEGE CODE</label>
            <input type="text" id="college_code" name="college_code" placeholder="COLLEGE CODE" required>

            <label for="college_name">COLLEGE NAME</label>
            <input type="text" id="college_name" name="college_name" placeholder="COLLEGE NAME" required>


            <button type="submit" class="add-button">ADD COLLEGE</button>
        </form>
    </div>






    <!--------------------------------JAVASCRIPT THINGZ--------------------------------------->
    <script>
        $(document).ready(function() {
            $('#addCollegeForm').on('submit', function(event) {
                event.preventDefault(); 

                var collegeCode = $('#college_code').val().toUpperCase();
                var collegeName = $('#college_name').val().toUpperCase();

                $.ajax({
                    url: "{{ url_for('colleges.check_college_existence') }}",  
                    type: 'POST',
                    data: {
                        college_code: collegeCode,
                        college_name: collegeName
                    },
                    success: function(response) {
                        if (response.exists) {
                            var message = '';
                            if (response.name_exists && response.code_exists) {
                                message = 'Both college name and code already exist. ';
                            } else if (response.name_exists) {
                                message = 'College name already exists. ';
                            } else if (response.code_exists) {
                                message = 'College code already exists. ';
                            }
                            message += 'Please try again with different values.';
                            
                            alert(message);  
                            return false;    
                        } else {
                            if (confirm('Are you sure you want to add this college?')) {
                                var form = $('#addCollegeForm')[0];
                                form.submit();
                            }
                        }
                    },
                    error: function() {
                        alert('An error occurred while checking college existence. Please try again.');
                    }
                });
            });
        });
    </script>

</body>
{% endblock %}
    