{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='edit_college.css') }}">
<title>EDIT COLLEGE</title>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>EDIT COLLEGE</h1>

        <form action="{{ url_for('colleges.colleges') }}">
            <button type="submit" class="back-button">
                <i class="fa-solid fa-arrow-left"></i>
            </button>
        </form>

        <form id="editCollegeForm" action="{{ url_for('colleges.edit_college', college_code=college.college_code) }}" method="post">

            <div class="form-group">
                <label for="college_name">COLLEGE NAME</label>
                <input type="text" id="college_name" name="college_name" class="form-control" value="{{ college.college_name }}" required>
            </div>

            <div class="form-group">
                <label for="college_code">COLLEGE CODE</label>
                <input type="text" id="college_code" name="college_code" class="form-control" value="{{ college.college_code }}" required>
            </div>

            <button type="submit" class="update-button">UPDATE COLLEGE</button>
        </form>

        <div id="notification" class="notification" style="display: none;"></div>
    </div>

    <!--------------------------------JAVASCRIPT THINGZ--------------------------------------->
    <script>
        $(document).ready(function() {
            $('#editCollegeForm').on('submit', function(event) {
                event.preventDefault(); 

                var userConfirmed = confirm('r u shur u wanna update dis college?');
                
                if (userConfirmed) {
                    var formData = {
                        college_name: $('#college_name').val(),
                        college_code: $('#college_code').val()
                    };

                    $.ajax({
                        url: "{{ url_for('colleges.edit_college', college_code=college.college_code) }}", 
                        type: 'POST',
                        data: formData,
                        success: function(response) {
                            if (response.status === 'success') {
                                alert('yippie! college has been updated.');
                                window.location.href = "{{ url_for('colleges.colleges') }}"; 
                            } else {
                                alert(response.message);
                            }
                        },
                        error: function(xhr) {
                            alert('data already existz. Please try again.');
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}
